.CoinFlip {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CoinFlip button {
  font-size: 30px;
  padding: 10px;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: burlywood;
  cursor: pointer;
}
