body {
  background-color: #59a5d8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 40vw;
  margin: 0 auto;
}

.TodoList {
  margin: 20px;
  border: 1px solid #1f434b;
  box-shadow: 10px 10px 3px 0 #4b4b4b44;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TodoList h1,
.TodoList p {
  margin: 10px 0;
}

.TodoList-table {
  border: 0;
  width: 100%;
}
